

.wrapper{
  display: flex;
  gap: 50px;
}

.location--clicked{
  background-color: rgb(104, 235, 104);
  border: 1px solid black;
}
.info{
  margin-top: 40px;
}
.locations-list{
  list-style: none;

}
.locations-list:hover{
  cursor: pointer;
}
.location{
  margin-top: 10px;
}
.list-title{
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: bold;
}

